.title {
  width: 95%;
  margin: 0 auto 10px;
}

.btnSection {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 10px auto;
  padding: 0 80px;
}

.adminProfileContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.deleteError {
  display: block;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 28px;
  color: red;
}

.manageContentSection {
  width: 95%;
  height: 80vh;
  overflow-y: scroll;
  background-color: #fff;
  padding: 30px 50px;
  margin: 0 auto;
}

.managementBtn {
  display: flex;
  width: 343px;
  height: 79px;
  margin: 0 auto;
}
