.tablebutton {
  background: none;
  border: none;
  width: 100%;
}

.tableTitle {
  background: none;
  border: none;
  width: 100%;
  text-align: center;
}

.tableListStyle {
  overflow-y: auto;
  height: 90%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #737373;
}
